html,
body {
	overflow-x: hidden;
}

body {
	padding-top: 80px;
	background-color: #C6E2FF !important;
}

footer {
  padding: 20px 0;
}

container-fluid {
	padding-top: 20px;
}

h1 {
	text-align: center;
}

div h2, p {
	text-align: center;
}